1.Load The Data

In [16]:
import pandas as pd
df = pd.read_csv("C:/Users/MCST/OneDrive/Desktop/Railwayy.csv") 
df

,Transaction ID,Date of Purchase,Time of Purchase,Purchase Type,Payment Method,Railcard,Ticket Class,Ticket Type,Price,Departure Station,...,Refund Request,Booked_Trips,Total_Seats,Booked_Seats,Discount_Amount,Booking_Date_Type,Final_Price,Duration_Of_Trip,Duration_Of_Delay,Railcard_ Used
0,da8a6ba8-b3dc-4677-b176,12/8/2023,12:41:11 PM,Online,Contactless,Adult,Standard,Advance,43,London Paddington,...,No,Partially Booked,200,188,8.6,Advance Booking,34.4,150,0.0,Yes
1,b0cdd1b0-f214-4197-be53,12/16/2023,11:23:01 AM,Station,Credit Card,Adult,Standard,Advance,23,London Kings Cross,...,No,Fully Booked,200,200,4.6,Advance Booking,18.4,110,5.0,Yes
2,f3ba7a96-f713-40d9-9629,12/19/2023,7:51:27 PM,Online,Credit Card,Disabled,Standard,Advance,3,Liverpool Lime Street,...,No,Partially Booked,200,164,0.0,Advance Booking,3.0,30,0.0,No
3,b2471f11-4fe7-4c87-8ab4,12/20/2023,11:00:36 PM,Station,Credit Card,Disabled,Standard,Advance,13,London Paddington,...,No,Partially Booked,200,157,0.0,Advance Booking,13.0,60,0.0,No
4,2be00b45-0762-485e-a7a3,12/27/2023,6:22:56 PM,Online,Contactless,Disabled,Standard,Advance,76,Liverpool Lime Street,...,No,Partially Booked,200,170,0.0,Advance Booking,76.0,135,0.0,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
31648,1304623d-b8b7-4999-8e9c,4/30/2024,6:42:58 PM,Online,Credit Card,Disabled,Standard,Off-Peak,4,Manchester Piccadilly,...,No,Partially Booked,200,152,0.0,Same Day,4.0,30,0.0,No
31649,7da22246-f480-417c-bc2f,4/30/2024,6:46:10 PM,Online,Contactless,Disabled,Standard,Off-Peak,10,London Euston,...,No,Partially Booked,200,187,0.0,Same Day,10.0,80,0.0,No
31650,add9debf-46c1-4c75-b52d,4/30/2024,6:56:41 PM,Station,Credit Card,Disabled,Standard,Off-Peak,4,Manchester Piccadilly,...,No,Partially Booked,200,171,0.0,Same Day,4.0,30,0.0,No
31651,b92b047c-21fd-4859-966a,4/30/2024,7:51:47 PM,Station,Credit Card,Disabled,Standard,Off-Peak,10,London Euston,...,No,Partially Booked,200,189,0.0,Same Day,10.0,80,0.0,No
31652,1d5d89a2-bde5-410f-8f91,4/30/2024,8:05:39 PM,Station,Credit Card,Adult,Standard,Off-Peak,3,Liverpool Lime Street,...,No,Partially Booked,200,182,0.6,Same Day,2.4,30,0.0,Yes

2.Basic Dataset Overview

In [2]:
print(df.info())

print(df.describe())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31653 entries, 0 to 31652
Data columns (total 27 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Transaction ID       31653 non-null  object
 1   Date of Purchase     31653 non-null  object
 2   Time of Purchase     31653 non-null  object
 3   Purchase Type        31653 non-null  object
 4   Payment Method       31653 non-null  object
 5   Railcard             31653 non-null  object
 6   Ticket Class         31653 non-null  object
 7   Ticket Type          31653 non-null  object
 8   Price                31653 non-null  int64
 9   Departure Station    31653 non-null  object
 10  Arrival Destination  31653 non-null  object
 11  Date of Journey      31653 non-null  object
 12  Departure Time       31653 non-null  object
 13  Arrival Time         31653 non-null  object
 14  Actual Arrival Time  31653 non-null  object
 15  Journey Status       31653 non-null  object
 16  Reason for Delay     31653 non-null  object
 17  Refund Request       31653 non-null  object
 18  Booked_Trips         31653 non-null  object
 19  Total_Seats          31653 non-null  int64
 20  Booked_Seats         31653 non-null  int64
 21  Discount_Amount      31653 non-null  float64
 22  Booking_Date_Type    31653 non-null  object
 23  Final_Price          31653 non-null  float64
 24  Duration_Of_Trip     31653 non-null  int64
 25  Duration_Of_Delay    31653 non-null  float64
 26  Railcard_ Used       31653 non-null  object
dtypes: float64(3), int64(4), object(20)
memory usage: 6.5+ MB
None
              Price  Total_Seats  Booked_Seats  Discount_Amount   Final_Price  \
count  31653.000000      31653.0  31653.000000     31653.000000  31653.000000
mean      23.439200        200.0    172.186586         1.062926     22.376274
std       29.997628          0.0     13.723776         2.834160     29.429524
min        1.000000        200.0    150.000000         0.000000      1.000000
25%        5.000000        200.0    161.000000         0.000000      4.800000
50%       11.000000        200.0    172.000000         0.000000     10.000000
75%       35.000000        200.0    183.000000         0.600000     29.000000
max      267.000000        200.0    200.000000        36.000000    267.000000

       Duration_Of_Trip  Duration_Of_Delay
count      31653.000000       31653.000000
mean          71.154235           3.249689
std           36.330811          14.325169
min           15.000000           0.000000
25%           30.000000           0.000000
50%           80.000000           0.000000
75%           90.000000           0.000000
max          270.000000         180.000000

3.Key Statistics to Calculate (KPIs )

In [21]:
# Convert numeric columns
numeric_cols = ["Final_Price","Price","Discount_Amount",
                "Duration_Of_Trip","Duration_Of_Delay",
                "Total_Seats","Booked_Seats"]
for col in numeric_cols:
    df[col] = pd.to_numeric(df[col], errors="coerce")
df["Occupancy"] = df["Booked_Seats"] / df["Total_Seats"]
df["Price_Diff"] = df["Price"] - df["Final_Price"]
df["Is_Delayed"] = (df["Duration_Of_Delay"] > 0).astype(int)

In [22]:
print("Total Transactions:", len(df))
print("Total Revenue:", df["Final_Price"].sum())
print("Average Final Price:", df["Final_Price"].mean())
print("Average Occupancy Rate:", df["Occupancy"].mean())
print("Delay Rate (%):", df["Is_Delayed"].mean()*100)
print("Average Ticket Price: $", df['Final_Price'].mean())
print("Max Ticket Price: $", df['Final_Price'].max())
print("Min Ticket Price: $", df['Final_Price'].min())

Total Transactions: 31653
Total Revenue: 708276.2
Average Final Price: 22.376273970871637
Average Occupancy Rate: 0.860932928948283
Delay Rate (%): 13.123558588443435
Average Ticket Price: $ 22.376273970871637
Max Ticket Price: $ 267.0
Min Ticket Price: $ 1.0

 4.Delay buckets

In [19]:
print("\n--- Delay Buckets ---")
delay_bins = pd.cut(df["Duration_Of_Delay"], bins=[-1,0,5,15,30,60,9999],
                    labels=["On Time","0-5m","6-15m","16-30m","31-60m","60m+"])
df["Delay_Bucket"] = delay_bins
print(delay_bins.value_counts())

--- Delay Buckets ---
Duration_Of_Delay
On Time    27499
0-5m        1997
31-60m      1014
16-30m       505
60m+         323
6-15m        315
Name: count, dtype: int64

5.Grouped Analysis

In [23]:
df['Duration_Of_Delay'] = pd.to_numeric(df['Duration_Of_Delay'], errors='coerce')
print("Average Delay (minutes):", df['Duration_Of_Delay'].mean())
print("Max Delay (minutes):", df['Duration_Of_Delay'].max())

print("\nAverage Price by Ticket Class:")
print(df.groupby("Ticket Class")["Final_Price"].mean())

print("\nRefund Rate by Delay Bucket:")
print( df.groupby("Delay_Bucket", observed=True)["Refund Request"]
      .value_counts(normalize=True))
print("\nOccupancy by Booking Type:")
print(df.groupby("Booking_Date_Type")["Occupancy"].mean())

Average Delay (minutes): 3.249689315833571
Max Delay (minutes): 180.0

Average Price by Ticket Class:
Ticket Class
First Class    46.428646
Standard       19.804071
Name: Final_Price, dtype: float64

Refund Rate by Delay Bucket:
Delay_Bucket  Refund Request
On Time       No                0.999709
              Yes               0.000291
0-5m          No                0.678017
              Yes               0.321983
6-15m         No                0.596825
              Yes               0.403175
16-30m        No                0.538614
              Yes               0.461386
31-60m        No                0.894477
              Yes               0.105523
60m+          No                1.000000
Name: proportion, dtype: float64

Occupancy by Booking Type:
Booking_Date_Type
Advance Booking    0.860070
Same Day           0.862008
Name: Occupancy, dtype: float64

6.Correlation Checks

In [9]:
print("\nCorrelation with Final Price:")
print(df[["Final_Price","Discount_Amount","Duration_Of_Trip","Occupancy"]].corr())

print("\nCorrelation with Delay Duration:")
print(df[["Duration_Of_Delay","Final_Price","Occupancy","Price_Diff"]].corr())

Correlation with Final Price:
                  Final_Price  Discount_Amount  Duration_Of_Trip  Occupancy
Final_Price          1.000000         0.154232          0.617267   0.170611
Discount_Amount      0.154232         1.000000          0.283669   0.056537
Duration_Of_Trip     0.617267         0.283669          1.000000   0.101480
Occupancy            0.170611         0.056537          0.101480   1.000000

Correlation with Delay Duration:
                   Duration_Of_Delay  Final_Price  Occupancy  Price_Diff
Duration_Of_Delay           1.000000     0.161019   0.430377    0.011300
Final_Price                 0.161019     1.000000   0.170611    0.154232
Occupancy                   0.430377     0.170611   1.000000    0.056537
Price_Diff                  0.011300     0.154232   0.056537    1.000000

7.Category Analysis

In [10]:
print("\nTop Payment Methods:")
print(df["Payment Method"].value_counts().head())

print("\nTop Ticket Types:")
print(df["Ticket Type"].value_counts().head())

print("\nTicket Class Distribution:")
print(df["Ticket Class"].value_counts())

print("\nTop Railcards Used:")
print(df["Railcard_ Used"].value_counts())

Top Payment Methods:
Payment Method
Credit Card    19136
Contactless    10834
Debit Card      1683
Name: count, dtype: int64

Top Ticket Types:
Ticket Type
Advance     17561
Off-Peak     8752
Anytime      5340
Name: count, dtype: int64

Ticket Class Distribution:
Ticket Class
Standard       28595
First Class     3058
Name: count, dtype: int64

Top Railcards Used:
Railcard_ Used
No     24007
Yes     7646
Name: count, dtype: int64

8. Delay & Refunds

In [11]:
print("\nDelayed Journeys (%):", (df["Duration_Of_Delay"] > 0).mean()*100)
print("Refund Requests:")
print(df["Refund Request"].value_counts())

print("\nAverage Delay by Reason:")
print(df.groupby("Reason for Delay")["Duration_Of_Delay"].mean())

Delayed Journeys (%): 13.123558588443435
Refund Requests:
Refund Request
No     30535
Yes     1118
Name: count, dtype: int64

Average Delay by Reason:
Reason for Delay
OnTime                 0.000000
Signal Failure        34.914269
Signal failure        15.197821
Staff Shortage        36.127651
Staffing              12.754698
Technical Issue       17.715243
Traffic               11.311081
Weather               36.432338
Weather Conditions    15.485240
Name: Duration_Of_Delay, dtype: float64

Route Popularity

In [12]:
print("Top 5 Departure Stations:")
print(df['Departure Station'].value_counts().head())

print("Top 5 Arrival Destinations:")
print(df['Arrival Destination'].value_counts().head())

Top 5 Departure Stations:
Departure Station
Manchester Piccadilly    5650
London Euston            4954
Liverpool Lime Street    4561
London Paddington        4500
London Kings Cross       4229
Name: count, dtype: int64
Top 5 Arrival Destinations:
Arrival Destination
Birmingham New Street    7742
Liverpool Lime Street    5022
York                     4019
Manchester Piccadilly    3968
Reading                  3920
Name: count, dtype: int64

 9.Discounts & Pricing

In [13]:
df["Price_Diff"] = df["Price"] - df["Final_Price"]
print("\nAverage Discount:", df["Discount_Amount"].mean())
print("Average Price Difference:", df["Price_Diff"].mean())

print("\nAverage Final Price by Booking Type:")
print(df.groupby("Booking_Date_Type")["Final_Price"].mean())

Average Discount: 1.0629261049505574
Average Price Difference: 1.0629261049505574

Average Final Price by Booking Type:
Booking_Date_Type
Advance Booking    16.820557
Same Day           29.299631
Name: Final_Price, dtype: float64

10. Capacity & Occupancy

In [14]:
df["Occupancy"] = df["Booked_Seats"] / df["Total_Seats"]
print("\nAverage Occupancy Rate:", df["Occupancy"].mean())
print("Occupancy by Booking Type:")
print(df.groupby("Booking_Date_Type")["Occupancy"].mean())

Average Occupancy Rate: 0.860932928948283
Occupancy by Booking Type:
Booking_Date_Type
Advance Booking    0.860070
Same Day           0.862008
Name: Occupancy, dtype: float64